<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pi Camera</title>
</head>
<body>
    <img id="image">
    aloha
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>

    <script>
        const socket = io.connect('/');

        socket.on('image', (image) => {
            const img = document.getElementById('image');
            img.src = `data:image/jpeg;base64,${image}`;
        });
    </script>
</body>

</html>